@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&family=Ubuntu&display=swap');


*,*::before,*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --neutral-color-gradient: linear-gradient(to bottom,rgba(255, 0, 217, 0.817),rgb(183, 2, 155));
    --neutral-color:rgb(216, 21, 187);
    --secondary-color-gradient: linear-gradient(to bottom,rgba(0, 94, 255, 0.817),rgb(2, 29, 183));
}

.max-vw-100{
    max-width: 100vw!important;
}

.pages{
    max-width: 100vw!important;
}
.text-shadow{
    text-shadow: 0px 0px 1px black;
}

.drop-shadow{
    filter: drop-shadow(0px 0px 1px black);
}


.ff-primary{
    font-family: 'Ubuntu', sans-serif;
}

.ff-secondary{
    font-family: 'Poppins', sans-serif;
}

.text-shadow{
    text-shadow: 0px 0px 1px black;
}
.neutral-gradient{
    background: var(--neutral-color-gradient)!important ;
}
.neutral-color{
    color: var(--neutral-color);
}

.neutral-border{
    border-color: var(--neutral-color);
}

.secondary-gradient{
    background:var(--secondary-color-gradient)!important;
}

/*****************************************************************/
/******************************** Boot-Strap *********************/
/*****************************************************************/

/* Target styles for screens smaller than 576px (xs) */
@media (max-width: 575.98px) {
    /* Your styles here */
    /* teams-section */
    #teams-section .card{
        width: 18rem!important;
    }

}
/* Target styles for small screens (sm) and above */
@media (min-width: 576px) {
    /* Your styles here */
    #teams-section .card{
        width: 25rem!important;
    }
}

/* Target styles for medium screens (md) and above */
@media (min-width: 768px) {
    #upperNavBar .nav-item{
        margin-left: 1rem;
    }
    #teams-section .card{
        width: 35rem!important;
    }
}

/* Target styles for large screens (lg) and above */
@media (min-width: 992px) {
    /* teams-section */
    #teams-section .card{
        width: 18rem!important;
    }
    

}

/* Target styles for extra large screens (xl) and above */
@media (min-width: 1200px) {
    #service{
        margin-top: 9rem!important;
    }
}





/*****************************************************************/
/********************************** MAIN *************************/
/*****************************************************************/



/*************************** hero section ***********************/
.wavy-border {
    position: absolute;
    left: 0;
    bottom: -10rem;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wavy-border svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height:16rem;
    transform: rotateY(180deg);
    animation: wave-animation linear infinite alternate 15s;
}
@keyframes wave-animation {
    0%{
        width: calc(130% + 1.3px);
    }
    50%{
        width: calc(105% + 1.3px);
    }
    100%{
        width: calc(130% + 1.3px);
    }
}


.wavy-border .shape-fill {
    /* fill: #E713EB; */
    fill: #1345eb;

}
  
.page-title{
    font-size: 2rem;
}

/*************************** hero section ***********************/



/* services */
.services-provide img{
    width: 4rem!important;
}

#service .title-img-container img{
    width: 6rem!important;
}


/* choose us */

.choose-us-option img{
    width: 2.5rem!important;
}


/* journey */
.journey-img-container{
    /* padding: 2rem; */
}


/* future envision */

/* testimonial Carousel */
#testimonialCarousel .carousel-item img{
    max-height: 35rem;
}