@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&family=Ubuntu&display=swap');


*,*::before,*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --primary-color:rgb(76, 97, 255);
    --primary-bg:rgb(76, 97, 255);
    --secondary-color:rgb(17, 17, 17);
    --secondary-bg:rgb(17, 17, 17);
    --neutral-color:white;
    --neutral-bg:white;
    --neutral-dark-bg:rgb(193, 193, 193);
    --neutral-dark-color:rgb(193, 193, 193);

    
}


.primary-color{
    color: var(--primary-color);
}
.primary-bg{
    background: var(--primary-bg);
}
.secondary-color{
    color: var(--secondary-color);
}
.secondary-bg{
    background: var(--secondary-bg);
}
.neutral-color{
    color: var(--neutral-color);
}
.neutral-bg{
    background:var(--neutral-bg) ;
}
.neutral-dark-bg{
    background: var(--neutral-dark-bg);
}
.neutral-dark-color{
    color: var(--neutral-dark-color);

}



.text-shadow{
    text-shadow: 0px 0px 1px black;
}

.drop-shadow{
    filter: drop-shadow(0px 0px 1px black);
}


.ff-primary{
    font-family: 'Ubuntu', sans-serif;
}

.ff-secondary{
    font-family: 'Poppins', sans-serif;
}

.text-shadow{
    text-shadow: 0px 0px 1px black;
}
.neutral-gradient{
    background: var(--neutral-color-gradient)!important ;
}
.neutral-color{
    color: var(--neutral-color);
}

.neutral-border{
    border-color: var(--neutral-color);
}

.secondary-gradient{
    background:var(--secondary-color-gradient)!important;
}

/*****************************************************************/
/******************************** Boot-Strap *********************/
/*****************************************************************/

/* Target styles for screens smaller than 576px (xs) */
@media (max-width: 575.98px) {
    /* Your styles here */
    /* teams-section */
    .navbar{
        background-image: none;
        background-color: var(--primary-bg);
       }
       #choose-us-section .card{
        width: 20rem;
    }
}
/* Target styles for small screens (sm) and above */
@media (min-width: 576px) {
    /* Your styles here */
    .navbar{
        background-image: none;
        background-color: var(--primary-bg);
    }

    #choose-us-section .card{
        width: 22rem;
    }

    /* .nav-item:hover,
    .nav-item:focus,
    .nav-item:active{
        min-width: 100vw;
        background: var(--neutral-bg);
        color: var(--primary-color);
    } */
}

/* Target styles for medium screens (md) and above */
@media (min-width: 768px) {
    #footer-option{
        width: 60rem!important;
    }
   

}

/* Target styles for large screens (lg) and above */
@media (min-width: 992px) {
    .navbar-brand{
        color: var(--neutral-color);
    }
    .navbar{
        background-color: var(--neutral-bg);
        background-image: url('../img/nav-vector.svg');
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
        height: 14rem;
    }
    


}

/* Target styles for extra large screens (xl) and above */
@media (min-width: 1200px) {
    /* #service{
        margin-top: 9rem!important;
    } */
    .navbar-brand{
        color: var(--primary-color);
    }
    .page-height{
        max-height: 100vh;
        min-height: 100vh;
    }

    
}





/*****************************************************************/
/********************************** MAIN *************************/
/*****************************************************************/



/*************************** hero section ***********************/
.wavy-border {
    position: absolute;
    left: 0;
    bottom: -10rem;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wavy-border svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height:16rem;
    transform: rotateY(180deg);
    animation: wave-animation linear infinite alternate 15s;
}
@keyframes wave-animation {
    0%{
        width: calc(130% + 1.3px);
    }
    50%{
        width: calc(105% + 1.3px);
    }
    100%{
        width: calc(130% + 1.3px);
    }
}


.wavy-border .shape-fill {
    /* fill: #E713EB; */
    fill: #1345eb;

}
  
.page-title{
    font-size: 2rem;
}

/*************************** hero section ***********************/


/* navbar */
.nav-bg{
    background-image: url('../img/nav-vector.svg');
    height: fit-content;

}



/* services */
/* #service{
    background: url('../img/services-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} */
.services-provide img{
    width: 4rem!important;
}

#service .title-img-container img{
    width: 6rem!important;
}


/* choose us */

.choose-us-option img{
    width: 2.5rem!important;
}


/* journey */
.journey-img-container{
    /* padding: 2rem; */
}


/* future envision */

/* testimonial Carousel */





#service{
    background: var(--neutral-dark-bg);
}



.service-lower-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.service-lower-svg svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    /* height: 136px; */
    height: 100px;

}

.service-lower-svg .shape-fill,
.service-upper-svg .shape-fill{
    fill:var(--neutral-bg);
    stroke: var(--neutral-color);
    
}


.service-upper-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotatey(180deg);
}

.service-upper-svg svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 81px;
}


#teams-section .image-container{
    width: fit-content;
}

#teams-section .image-container img{
    width: 11rem!important;
    height: 11rem!important;
    object-fit: cover;
}




/* contact us */
#contact-us{
    background: url('../img/join-us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active{
    background-color: rgb(98, 116, 255);
    color: white;

}




#service .card:hover img{
    animation: pulse;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
}


#choose-us-section .card:hover img{
    animation: pulse;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; 
}

#choose-us-section .card:hover,
#service .card:hover {
    box-shadow: 0px 0px 6px rgb(115, 115, 115)!important; /* Remove the box shadow on hover */
}






.navbar-toggler{
    width: 20px!important;
    height: 20px!important;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline:none;
    border: none;
    box-shadow: none;
}

.toggler-icon{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--neutral-bg);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

}

.navbar-toggler .top-bar{
    margin-top: 0;
    transform: rotate(135deg);
}
.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    margin-top: 0;
    transform: rotate(-135deg);
}



.navbar-toggler.collapsed .top-bar{
    margin-top: -15px;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=1);
}
.navbar-toggler.collapsed .bottom-bar{
    margin-top: 15px;
    transform: rotate(0deg);
}